.background {
    background: center no-repeat url(lgchcast_bg.png);
  }
  .logo {
    background-image: url(lgchlogo.png);
  }
  
  .progressBar {
    background-color: rgb(255, 166, 0);
  }
  
  .splash {
    background-image: url(lgchlogo.png);
  }
  
